	body, html {
		background: rgb(0,153,204);
	}
	.container {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	span {
		height: 184px;
		display: inline-block;
		margin-top: -23px;
		margin-bottom: -23px;
		padding: 62px;
		text-align: center;
		font-family: serif;
		font-weight: bold;
		color: #000000;
		 -webkit-mask-image: url(../hex.svg);
		 -webkit-background-size: 15px 15px;
		-moz-background-size: 15px 15px;
		background-size: 15px 15px;
		-moz-box-shadow: 1px 1px 8px gray;
	}

	span#new {
		height: 184px;
		display: inline-block;
		margin-top: -23px;
		margin-bottom: -23px;
		padding: 62px;
		text-align: center;
		font-family: serif;
		font-weight: bold;
		color: #000000;
		 -webkit-mask-image: none !important;
		 -webkit-background-size: 15px 15px;
		-moz-background-size: 15px 15px;
		background-size: 15px 15px;
		-moz-box-shadow: 1px 1px 8px gray;
	}

	span p {
		display: block;
		text-align: center;
		line-height: 60px;
		width: 60px;
		font-size: 24px;
		margin: auto;
		background: rgb(240,230,190);
		border-radius: 50%;
		-moz-box-shadow:    0px 2px 2px 1px rgba(0,0,0,0.6);
  		-webkit-box-shadow: 0px 2px 2px 1px rgba(0,0,0,0.6);
  		box-shadow:         0px 2px 2px 1px rgba(0,0,0,0.6);
	}
	p i {
		color: #cc0000;
		font-style: normal;
	}
	.desert p {
		background: rgba(0,0,0,0.7);
	}
	.wool {
background-color: #99cc33;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

	}
	.wood {
background-color: #006633;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

	}
	.clay {
background-color: #663300;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

	}
	.ore {
background-color: #666666;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

	}
	.wheat {
background-color: #ffcc33;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .2) 50%, transparent 50%, transparent);

	}
	.desert {
background-color: #ffcc66;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.5, transparent), to(transparent));
background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
background-image: -ms-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
background-image: -o-linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);
background-image: linear-gradient(0deg, rgba(255, 255, 255, .5) 50%, transparent 50%, transparent);

	}
.container {
	max-width: none !important;
	width: 970px;
}

.board {
	position: absolute;
	top: 20px;
	bottom: -40px;
	left: 10%;
	right: 10%;
	background: rgb(240,230,190);
	-webkit-clip-path: polygon(280px 0px,750px 0px, 970px 380px, 730px 790px, 300px 790px, 50px 380px);
	z-index: -9;
}